/* MEDIA QUERY - not working :( */
@media (max-width: 768px) {

h1	{
  font-size: 10px;
  padding-top: 60px;
}

}

/* Main Styles */

body {
  margin: auto;
  height: 100%;
  font-family: 'Lato', sans-serif;
  /*Couldn't get local image link to work "assets/background-space.jpeg"*/
  background-image: url("Desktop/wdi-work/assessment-2/assets/background-space.jpeg");
  background-color: #222;
}

.container  {
  margin: 40px;
}

#redSquare  {
  position: relative;
  width: 100px;
  height: 100px;
  background: red;
  border-color: #fff;
  outline: #fff solid thin;
}

#blueSquare  {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: blue;
  border-color: #fff;
  outline: #fff solid thin;
}

/* Element Styles */

h1	{
  color: #fff;
  font-weight: 400;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 160px;
}

h2  {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  padding-top: 60px;
  margin: 40px;
}

p  {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-transform: none;
  text-align: center;
  padding-bottom: 25px;
}

a  {
  color: #fff;
  text-decoration: none;
}

.button	{
  color: #fff;
  font-weight: 900;
  background-color: #1D2951;
  height: 40px;
  width: 200px;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}

/* fontawesome icon */
.i  {
  color: #fff;
}

/* Hovers are cool */
.button:hover {
  background-color: #000; /* Green */
  color: white;
}

/* TODO for image and possible animation later */
.squareSmall  {
  min-width: 80px;
  min-height: 80px;
  max-width: 80px;
  max-height: 80px;
  outline: #fff solid thin;
  margin: auto;
  width: 50%;
  display: inline-block;
}
